[submodule "addons/deltascript"]
	path = addons/deltascript
	url = https://github.com/FractalDiane/deltascript
[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.1
